{% extends 'base.html.twig' %}

{% block content %}
    <div>
        <div class="error">
            <h2 style="font-size: 25px">D I S S I D A N C E - Error</h2>
            <p>Oooops sorry ! An error occured. <br />
            The server returned a "{{ status_code }} {{ status_text }}" <br />
            Something is broken. We will fix it as soon as possible. <br />
            We are sorry,<a href="{{ path('home') }}"> click here </a>for home</p>
        </div>
    </div>
{% endblock %}
