# Created by .ignore support plugin (hsz.mobi)
Supprimerait .gitignore
Supprimerait .idea/workspace.xml
Supprimerait app/bootstrap.php.cache
Supprimerait app/cache/dev/
Supprimerait app/config/parameters.yml
Supprimerait app/logs/dev.log
Supprimerait bin/
Supprimerait src/AdminBundle/
Supprimerait src/UserBundle/
Supprimerait tests/
Supprimerait vendor/
Supprimerait web/bundles/
Supprimerait web/css/
Supprimerait web/fonts/
Supprimerait web/img/
Supprimerait web/js/
