{{ form_errors(form.mail) }}
<form class="form-inline" action="{{ path('valid_mail') }}" method="POST" name="formmail">
    <div class="form-group has-success has-feedback">
        <label class="control-label">enter your email to attend the forthcoming events</label>
        <div class="input-group">
            <input type="text" placeholder="Your email address" class="form-control">
        </div>
        <span id="inputGroupSuccess3Status" class="sr-only">(success)</span>
    </div>
    <button class="mail_button btn btn-warning" type="submit" name="valid"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></button>
</form>
