<div class="mail_entry">
    <form action="{{ path('valid_mail') }}" method="POST" name="formmail">
        {{ form_start(form) }}<input class="mail_button" type="submit" name="valid" value="CREATE" />
    {{ form_widget(form) }}

    {{ form_end(form) }}
        </form>
</div>

