{% extends 'base.html.twig' %}

{% block header %}
    <header class="container_header">
        <div><img id="logo" src="{{ asset('img/Dissidance_21.png') }}"></div>
        <img class="scroll_down" src="{{ asset('img/down.png') }}">
    </header>
{% endblock %}

{% block content %}

<!--Présentation vente t-shirts/Photos-->



