{% extends 'baseAdmin.html.twig' %}

{% block content %}
    <h1>Reservation list</h1>

    <table>
        <thead>
        <tr>
            <th>Party</th>
            <th>Nbtickets</th>
        </tr>
        </thead>
        <tbody>
        {% for party in parties|reverse %}
            <tr>
                <td>{{ party.title }}</td>
                <td>{{ count[party.id] }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}