{% extends 'base.html.twig' %}
{% block menu %}{% endblock %}
{% block body %}
    <div style="max-height: 100vh">
        <h1 style="margin-top: 40vh">THANKS</h1>
        <p style="font-size: 20px" class="">Your registration has been saved</p>
        <a href="{{ path('home') }}">Return to dissidance</a>
    </div>
{% endblock %}