/*BLOC ABOUT SUPPORT*/
body {
    font-family: 'Cutive Mono', serif;
}
.titre_support {
    margin-top: 20vh;
}

.titre_vinyle {
    margin-top: 15vh;
    margin-bottom: 5vh;
}


#platine1 {
    margin-bottom: -40vh;
}

@media screen and (min-device-width: 360px) {
    #tampon1 {
        margin-top: 5vh;
    }
}

@media screen and (min-device-width: 768px) {
    #tampon1 {
        margin-top: 15vh;
    }
}

@media screen and (min-device-width: 800px) {
    #tampon1 {
        margin-top: 10vh;
    }
}

@media screen and (min-device-width: 980px) {
    #tampon1 {
        margin-top: 7vh;
    }
}

@media screen and (min-device-width: 768px) {
    #platine2 {
        margin-top: 12vh;
    }
}

@media screen and (min-device-width: 800px) {
    #platine2 {
        margin-top: 10vh;
    }
}

@media screen and (min-device-width: 980px) {
    #platine2 {
        margin-top: 7vh;
    }
}

@media screen and (min-device-width: 768px) {
    #platine1 {
        margin-top: 12vh;
    }
}

@media screen and (min-device-width: 800px) {
    #platine1 {
        margin-top: 10vh;
    }
}

@media screen and (min-device-width: 980px) {
    #platine1 {
        margin-top: 7vh;
    }
}

.about_vinyle {
    min-height: 100vh;
    text-align: justify;
    font-size: 20px;
    max-height: 100%;
}

.row_about {
    margin-top: 10vh;
    margin-bottom: 50vh;
}

#vinyle {
    margin-top: 20vh;
}

.row_vinyle {
    margin-bottom: 20vh;
}

.row_gallery {
    margin-top: 10vh;
}

.row_gallery_2 {
    margin-top: 30vh;
}

.form {
    color: inherit;
}

.about_support {
    font-size: 18px;
}

.about_content {
    font-size: 18px;
    margin-top: 5vh;
}

div.polaroid-1 {
    max-width: 100%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(7deg);
}

/*BLOC GALLERY T-SHIRTS*/

div.polaroid-2 {
    max-width: 100%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 5px;
    -ms-transform: rotate(-10deg); /* IE 9 */
    -webkit-transform: rotate(-10deg); /* Chrome, Safari, Opera */
    transform: rotate(-10deg);
}

div.polaroid-3 {
    max-width: 100%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 10px;
    -ms-transform: rotate(10deg); /* IE 9 */
    -webkit-transform: rotate(10deg); /* Chrome, Safari, Opera */
    transform: rotate(10deg);
}


div.container {
    text-align: center;
    padding: 35px 20px;
}

.img-responsive {
    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
    -webkit-transition: all 0.9 s ease;
    transition: all 0.9s ease-in-out 0s;
    -moz-transition: all 0.9s ease-in-out 0s;
    -o-transition: all 0.9s ease-in-out 0s;
}

.img-responsive:hover {
    filter: none;
    -webkit-transition: all 0.9s ease;
    transition: all 0.9s ease-in-out 0s;
    -moz-transition: all 0.9s ease-in-out 0s;
    -o-transition: all 0.9s ease-in-out 0s;
}