
    /*BLOC ABOUT SUPPORT*/

.title {
    padding-bottom: 15vh;
}

.about_support {
    padding-top: 10vh;
    min-height: 100vh;
    text-align: center;
    font-size: 20px;
    max-height: 100%;
}

.about_vinyle {
    padding-top: 20vh;
    min-height: 100vh;
    text-align: center;
    font-size: 20px;
    max-height: 100%;
}

.row_about {
    margin-top: 100px;
    margin-bottom: 200px;
}
.about_support_1 {
    text-align: justify;
}

div.polaroid-1 {
    max-width: 100%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(7deg);
}

    /*BLOC GALLERY T-SHIRTS*/

.row_gallery {
    margin-top: 20vh;
}

.row_gallery_2 {
    margin-top: 20vh;
}

div.polaroid-2 {
    max-width: 100%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 5px;
    -ms-transform: rotate(-10deg); /* IE 9 */
    -webkit-transform: rotate(-10deg); /* Chrome, Safari, Opera */
    transform: rotate(-10deg);
}

div.polaroid-3 {
    max-width: 100%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 10px;
    -ms-transform: rotate(10deg); /* IE 9 */
    -webkit-transform: rotate(10deg); /* Chrome, Safari, Opera */
    transform: rotate(10deg);
}

div.container {
    text-align: center;
    padding: 35px 20px;
}

.img-responsive {
    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
    -webkit-transition: all 0.9 s ease;
}

.img-responsive:hover {
    filter: none;
    -webkit-transition: all 0.9s ease;
}

div.polaroid_1 {
    width: 500px;
    padding: 10px 10px 50px 10px;
    border: 1px solid #BFBFBF;
    background-color: white;
    box-shadow: 10px 10px 5px #aaaaaa;
}

div.polaroid_2 {
    width: 294px;
    padding: 10px 10px 50px 10px;
    border: 1px solid #BFBFBF;
    background-color: white;
    box-shadow:10px 10px 5px #aaaaaa;
}

div.rotate_right {
    float: left;
    -ms-transform: rotate(-7deg); /*IE 9 */
    -webkit-transform: rotate(-7deg); /* Safari */
    transform: rotate(-7deg);
}

div.rotate_left {
    float: left;
    -ms-transform: rotate(8deg); /*IE 9 */
    -webkit-transform: rotate(8deg); /* Safari */
    transform: rotate(8deg);
}