.party_titles {
    height: 150px;
}
.thumbnail {
    position: relative;
    text-align: center;
    min-height: 400px;
    border-radius: 15px;
    width: 18em;
    height: 400px;
}

div.thumbnail {
    border: 0;
    padding: 0;
    margin: 0;
    border-radius: 15px;
}

.ticket {
    position: absolute;
    width: 25%;
    top: 300px;
    left: 37.5%;
}

.thumbnail_img {
    max-height: 150px;
    max-width: 150px;
    margin-top: 20px;
}

.button_thumb {
    border: 0;
    padding: 0;
    margin-bottom: 8em;
    border-radius: 15px;
    background-color: rgba(255,255,255,1);
    -moz-box-shadow: 0 0 30px 4px #000;
}

.tuile {
    padding-right: 2vw;
    padding-left: 2VW;
}

.container_tuile {
    margin: 0 100px 0 100px;

}

iframe {
    margin-bottom: 10px;
    height: 100px;
}

iframe #document html body .widget .cookiePolicy {
    display: none;
}

.img_modal {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 350px;
}

.txt_modal {
    margin-left: 10%;
    margin-right: 10%;
}

.modal-dialog {
    max-width: 400px;
}